.banner {
    // background-image: url('../img/banner-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 99px;
    padding-bottom: 99px;
    position: relative;
    margin-bottom: 39px;

    &::before {
        position: absolute;
        content: url('../img/banner-robot.png');
        bottom: 0;
        right: 20%;
        z-index: 1;
    }
}

.banner__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.banner__title {
    margin: 0;
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;

    @media (max-width: 1170px) {
        font-size: 30px;
        line-height: 36px;
    }

    @media (max-width: 890px) {
        font-size: 23px;
        line-height: 35px;
    }
}

.banner__desc {
    margin: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    color: #FFFFFF;

    @media (max-width: 890px) {
        font-size: 20px;
        line-height: 30px;
    }
}

// .banner__img {
//     position: absolute;
//     width: 100%;
//     height: auto;
// }